@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

/* As of NextJS 13, next/link is using <a> tags with default styles. */
a {
  text-decoration: none;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

/* to bottom, #6fb2b8, #fff */

.isDoneBorder::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 101%;
  height: 100%;
  background: linear-gradient(to bottom, #6fb2b8, #fff);
  border-radius: 1.5rem;
  z-index: -1;
}

.isLockTest {
  background: linear-gradient(180deg, rgba(111, 178, 184, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(235, 235, 235, 0.75);
  border-radius: 1.5rem;
  filter: blur(17px);
}